
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 192rem;
}.forgotpassword-fYi {
  padding: 14.3rem 75.5rem 14.294rem 75.5rem;
  width: 100%;
  height: 108rem;
  overflow: hidden;
  position: relative;
  background-color: #ffffff;
  box-sizing: border-box;

  .content-Bmx {
    flex-direction: column;
    background-color: #ffffff;
    box-sizing: border-box;
    padding: 2.9rem 3rem 26.706rem 3rem;
    width: 100%;
    height: 100%;
    align-items: center;
    display: flex;

    .item--uhx {
      line-height: 1.5;
      color: #000000;
      white-space: nowrap;
      flex-shrink: 0;
      font-size: 3.5rem;
      font-weight: 600;
      font-family: Montserrat, 'Source Sans Pro';
      margin: 0rem 0rem 0.85rem 0.1rem;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .travlan-BQa {
      justify-content: center;
      font-size: 1.2rem;
      line-height: 1.5;
      color: #616161;
      font-family: Roboto, 'Source Sans Pro';
      margin: 0rem 0rem 1.95rem 0.018rem;
      display: flex;
      align-items: center;
      font-weight: 400;
      letter-spacing: 0.1rem;
      white-space: nowrap;
      flex-shrink: 0;
    }
    .form-HCi {
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      width: 100%;

      .div-dGa {
        margin-bottom: 0.4rem;
        width: 100%;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;

        .label--BYz {
          font-weight: 400;
          line-height: 1.5;
          flex-shrink: 0;
          white-space: nowrap;
          margin-bottom: 0.2rem;
          display: flex;
          font-size: 1.2rem;
          color: #999999;
          font-family: Roboto, 'Source Sans Pro';
        }
        .divuk-form-controls-VZg {
          height: 4rem;
          display: flex;
          align-items: center;
          flex-shrink: 0;
          width: 100%;

          .input-dft {
            width: 30.658rem;
            height: 100%;
            background-color: #fafafa;
            flex-shrink: 0;
          }
          .button-Pf4 {
            text-transform: uppercase;
            font-family: Roboto, 'Source Sans Pro';
            white-space: nowrap;
            width: 4.342rem;
            display: flex;
            justify-content: center;
            font-weight: 400;
            align-items: center;
            flex-shrink: 0;
            color: #666666;
            background-color: #efefef;
            height: 100%;
            font-size: 1.4rem;
            line-height: 2.7142857143;
          }
        }
      }
      .div-gu4 {
        margin-bottom: 0.4rem;
        width: 100%;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;

        .label--SNS {
          font-size: 1.2rem;
          font-weight: 400;
          white-space: nowrap;
          font-family: Roboto, 'Source Sans Pro';
          flex-shrink: 0;
          margin-bottom: 0.2rem;
          display: flex;
          line-height: 1.5;
          color: #999999;
        }
        .input-ZCA {
          width: 100%;
          height: 4rem;
          background-color: #fafafa;
          flex-shrink: 0;
        }
      }
      .div-hZG {
        flex-direction: column;
        flex-shrink: 0;
        margin-bottom: 1.7rem;
        width: 100%;
        display: flex;

        .label--ToL {
          white-space: nowrap;
          display: flex;
          color: #999999;
          font-family: Roboto, 'Source Sans Pro';
          line-height: 1.5;
          flex-shrink: 0;
          margin-bottom: 0.2rem;
          font-size: 1.2rem;
          font-weight: 400;
        }
        .input-Pgz {
          background-color: #fafafa;
          flex-shrink: 0;
          width: 100%;
          height: 4rem;
        }
      }
      .auto-group-fkwn-wyQ {
        margin: 0rem 13.3rem 6.4rem 0rem;
        width: calc(100% - 13.3rem);
        display: flex;
        align-items: flex-end;
        flex-shrink: 0;

        .label--5Jv {
          margin: 0rem 8.6rem 0.05rem 0rem;
          display: flex;
          color: #999999;
          font-family: Roboto, 'Source Sans Pro';
          white-space: nowrap;
          font-size: 1.2rem;
          font-weight: 400;
          line-height: 1.5;
          flex-shrink: 0;
        }
        .link--aWa {
          font-size: 1.4rem;
          font-weight: 400;
          line-height: 1.5;
          color: #3498db;
          font-family: Roboto, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          display: flex;
        }
      }
      .button-hLJ {
        margin-bottom: 1.9rem;
        line-height: 1.2125;
        color: #ffffff;
        border-radius: 0.4rem;
        width: 100%;
        height: 4.5rem;
        font-size: 1.6rem;
        font-weight: 500;
        white-space: nowrap;
        flex-shrink: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: Inter, 'Source Sans Pro';
        background-color: #0056ff;
      }
      .button-yoc {
        align-items: center;
        background-color: #d7e6f3;
        font-weight: 500;
        color: #ffffff;
        white-space: nowrap;
        display: flex;
        line-height: 1.2125;
        width: 100%;
        font-size: 1.6rem;
        font-family: Inter, 'Source Sans Pro';
        border-radius: 0.4rem;
        flex-shrink: 0;
        height: 4.5rem;
        text-align: right;
        justify-content: center;
      }
    }
  }
}
