
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 192rem;
}.signup-UTg {
  position: relative;
  background-color: #ffffff;
  box-sizing: border-box;
  padding: 14.3rem 75.5rem 14.294rem 75.5rem;
  width: 100%;
  height: 108rem;
  overflow: hidden;

  .content-MGa {
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    box-sizing: border-box;
    padding: 2.9rem 3rem 4.6rem 3rem;
    width: 100%;
    height: 100%;
    align-items: center;

    .sign-up-rUE {
      white-space: nowrap;
      margin: 0rem 0rem 0.85rem 1.026rem;
      display: flex;
      align-items: center;
      font-size: 3.5rem;
      color: #000000;
      font-family: Montserrat, 'Source Sans Pro';
      justify-content: center;
      font-weight: 600;
      line-height: 1.5;
      flex-shrink: 0;
    }
    .travlan-jH8 {
      margin: 0rem 0rem 1.2rem 0.018rem;
      justify-content: center;
      font-weight: 400;
      line-height: 1.5;
      letter-spacing: 0.1rem;
      font-family: Roboto, 'Source Sans Pro';
      flex-shrink: 0;
      display: flex;
      align-items: center;
      font-size: 1.2rem;
      color: #616161;
      white-space: nowrap;
    }
    .form-pJa {
      align-items: center;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      width: 100%;

      .div-kxv {
        margin-bottom: 0.4rem;
        width: 100%;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;

        .label--JUe {
          margin-bottom: 0.2rem;
          display: flex;
          font-size: 1.2rem;
          line-height: 1.5;
          flex-shrink: 0;
          font-weight: 400;
          color: #999999;
          font-family: Roboto, 'Source Sans Pro';
          white-space: nowrap;
        }
        .divuk-form-controls-QGn {
          align-items: center;
          flex-shrink: 0;
          width: 100%;
          height: 4rem;
          display: flex;

          .input-j4A {
            width: 30.658rem;
            height: 100%;
            background-color: #fafafa;
            flex-shrink: 0;
          }
          .button-4s8 {
            display: flex;
            line-height: 2.7142857143;
            color: #666666;
            flex-shrink: 0;
            font-weight: 400;
            background-color: #efefef;
            width: 4.342rem;
            align-items: center;
            font-size: 1.4rem;
            text-transform: uppercase;
            font-family: Roboto, 'Source Sans Pro';
            height: 100%;
            justify-content: center;
            white-space: nowrap;
          }
        }
      }
      .div-wvv {
        flex-shrink: 0;
        margin-bottom: 0.4rem;
        width: 100%;
        display: flex;
        flex-direction: column;

        .label--Hzn {
          margin-bottom: 0.2rem;
          line-height: 1.5;
          white-space: nowrap;
          display: flex;
          font-size: 1.2rem;
          font-weight: 400;
          color: #999999;
          font-family: Roboto, 'Source Sans Pro';
          flex-shrink: 0;
        }
        .input-QpW {
          flex-shrink: 0;
          width: 100%;
          height: 4rem;
          background-color: #fafafa;
        }
      }
      .div-kdU {
        margin-bottom: 0.35rem;
        width: 100%;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;

        .label--KAn {
          display: flex;
          font-size: 1.2rem;
          font-family: Roboto, 'Source Sans Pro';
          flex-shrink: 0;
          margin-bottom: 0.2rem;
          font-weight: 400;
          line-height: 1.5;
          color: #999999;
          white-space: nowrap;
        }
        .input-36n {
          width: 100%;
          height: 4rem;
          background-color: #fafafa;
          flex-shrink: 0;
        }
      }
      .div-bPC {
        margin-bottom: 0.4rem;
        width: 100%;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;

        .label--YpE {
          margin-bottom: 0.2rem;
          line-height: 1.5;
          font-family: Roboto, 'Source Sans Pro';
          white-space: nowrap;
          display: flex;
          font-size: 1.2rem;
          font-weight: 400;
          color: #999999;
          flex-shrink: 0;
        }
        .input-fdx {
          height: 4rem;
          background-color: #fafafa;
          flex-shrink: 0;
          box-sizing: border-box;
          padding: 1.2rem;
          width: 100%;

          .divplaceholder-1xi {
            position: relative;
            color: #999999;
            justify-content: center;
            width: 17.1rem;
            white-space: nowrap;
            margin-right: 15.5rem;
            overflow: hidden;
            display: flex;
            font-weight: 400;
            font-family: Montserrat, 'Source Sans Pro';
            height: 100%;
            font-size: 1.28rem;
            line-height: 1.2175;
            align-items: center;
          }
        }
      }
      .div-hKk {
        margin-bottom: 19.806rem;
        width: 100%;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;

        .label--FcA {
          font-weight: 400;
          color: #999999;
          font-family: Roboto, 'Source Sans Pro';
          flex-shrink: 0;
          margin-bottom: 0.2rem;
          font-size: 1.2rem;
          white-space: nowrap;
          display: flex;
          line-height: 1.5;
        }
        .input-Nwg {
          box-sizing: border-box;
          padding: 1.2rem;
          width: 100%;
          height: 4rem;
          background-color: #fafafa;
          flex-shrink: 0;

          .divplaceholder-jXL {
            white-space: nowrap;
            align-items: center;
            display: flex;
            width: 5.7rem;
            height: 100%;
            font-weight: 400;
            font-family: Montserrat, 'Source Sans Pro';
            margin-right: 26.9rem;
            color: #999999;
            line-height: 1.2175;
            position: relative;
            font-size: 1.28rem;
            justify-content: center;
            overflow: hidden;
          }
        }
      }
      .button-q4a {
        border-radius: 0.4rem;
        flex-shrink: 0;
        margin-bottom: 2.4rem;
        height: 4.5rem;
        justify-content: center;
        font-size: 1.6rem;
        font-weight: 500;
        font-family: Inter, 'Source Sans Pro';
        display: flex;
        align-items: center;
        color: #ffffff;
        line-height: 1.2125;
        white-space: nowrap;
        background-color: #0056ff;
        width: 100%;
      }
      .button-Vev {
        width: 100%;
        height: 4.5rem;
        justify-content: center;
        background-color: rgba(213, 229, 242, 0.9490196109);
        display: flex;
        color: #ffffff;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        border-radius: 0.4rem;
        align-items: center;
        font-size: 1.6rem;
        font-weight: 500;
        line-height: 1.2125;
        flex-shrink: 0;
      }
    }
  }
}
