
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 192rem;
}
.signupPage {
  box-sizing: border-box;
  padding: 14.3rem 75.5rem 14.294rem 75.5rem;
  width: 100%;
  height: 108rem;
  overflow: hidden;
  position: relative;
  background-color: #ffffff;
}
.signupPage .contentAll {
  box-sizing: border-box;
  padding: 2.9rem 3rem 4.6rem 3rem;
  width: 100%;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
}
.signupPage .contentAll .signupText {
  margin: 0rem 0rem 0.85rem 1.026rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3.5rem;
  font-weight: 600;
  line-height: 1.5;
  color: #000000;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.signupPage .contentAll .travlanText {
  margin: 0rem 0rem 1.2rem 0.018rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.1rem;
  color: #616161;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.signupPage .contentAll .divFormContainer {
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.signupPage .contentAll .divFormContainer .divIDForm {
  margin-bottom: 0.4rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.signupPage .contentAll .divFormContainer .divIDForm .labelID {
  margin-bottom: 0.2rem;
  display: flex;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.5;
  color: #999999;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.signupPage .contentAll .divFormContainer .divIDForm .divIDInputForm {
  width: 100%;
  height: 4rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.signupPage .contentAll .divFormContainer .divIDForm .divIDInputForm .inputID {
  width: 30.658rem;
  height: 100%;
  background-color: #fafafa;
  flex-shrink: 0;
}
.signupPage .contentAll .divFormContainer .divIDForm .divIDInputForm .btnIDOK {
  width: 4.342rem;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 2.7142857143;
  text-transform: uppercase;
  color: #666666;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  background-color: #efefef;
  flex-shrink: 0;
}
.signupPage .contentAll .divFormContainer .divNameForm {
  margin-bottom: 0.4rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.signupPage .contentAll .divFormContainer .divNameForm .labelName {
  margin-bottom: 0.2rem;
  display: flex;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.5;
  color: #999999;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.signupPage .contentAll .divFormContainer .divNameForm .inputName {
  width: 100%;
  height: 4rem;
  background-color: #fafafa;
  flex-shrink: 0;
}
.signupPage .contentAll .divFormContainer .divBirthForm {
  margin-bottom: 0.4rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.signupPage .contentAll .divFormContainer .divBirthForm .labelBirth {
  margin-bottom: 0.2rem;
  display: flex;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.5;
  color: #999999;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.signupPage .contentAll .divFormContainer .divBirthForm .inputBirth {
  width: 100%;
  height: 4rem;
  background-color: #fafafa;
  flex-shrink: 0;
}
.signupPage .contentAll .divFormContainer .divEmail {
  margin-bottom: 0.35rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.signupPage .contentAll .divFormContainer .divEmail .labelEmail {
  margin-bottom: 0.2rem;
  display: flex;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.5;
  color: #999999;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.signupPage .contentAll .divFormContainer .divEmail .inputEmail {
  width: 100%;
  height: 4rem;
  background-color: #fafafa;
  flex-shrink: 0;
}
.signupPage .contentAll .divFormContainer .divPwd {
  margin-bottom: 0.4rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.signupPage .contentAll .divFormContainer .divPwd .labelPwd {
  margin-bottom: 0.2rem;
  display: flex;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.5;
  color: #999999;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.signupPage .contentAll .divFormContainer .divPwd .inputPwd {
  box-sizing: border-box;
  padding: 1.2rem;
  width: 100%;
  height: 4rem;
  background-color: #fafafa;
  flex-shrink: 0;
}
.signupPage .contentAll .divFormContainer .divPwd .inputPwd .divPwdText {
  margin-right: 15.5rem;
  width: 17.1rem;
  height: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  font-size: 1.28rem;
  font-weight: 400;
  line-height: 1.2175;
  color: #999999;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  align-items: center;
  justify-content: center;
}
.signupPage .contentAll .divFormContainer .divPwdCheck {
  margin-bottom: 19.806rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.signupPage .contentAll .divFormContainer .divPwdCheck .labelPwdCheck {
  margin-bottom: 0.2rem;
  display: flex;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.5;
  color: #999999;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.signupPage .contentAll .divFormContainer .divPwdCheck .inputPwdCheck {
  box-sizing: border-box;
  padding: 1.2rem;
  width: 100%;
  height: 4rem;
  background-color: #fafafa;
  flex-shrink: 0;
}
.signupPage .contentAll .divFormContainer .divPwdCheck .inputPwdCheck .divPwdCheckText {
  margin-right: 26.9rem;
  width: 5.7rem;
  height: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  font-size: 1.28rem;
  font-weight: 400;
  line-height: 1.2175;
  color: #999999;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  align-items: center;
  justify-content: center;
}
.signupPage .contentAll .divFormContainer .btnSignup {
  margin-bottom: 2.4rem;
  width: 100%;
  height: 4.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  background-color: #0056ff;
  border-radius: 0.4rem;
  flex-shrink: 0;
}
.signupPage .contentAll .divFormContainer .btnBack {
  width: 100%;
  height: 4.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  background-color: rgba(213, 229, 242, 0.9490196109);
  border-radius: 0.4rem;
  flex-shrink: 0;
}
